/* --------------------------------
            QUESTIONS STARt
-------------------------------- */
.questions h2 { font-size: 1.1rem; }

.questions .form-label {
    color: #fff;
    font-size: .8rem;
}
 
.questions .contact-input {
    font-size: .8rem;
    background: #303030;
    color: #ffffff;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}
 
.questions input, .comments textarea { border-radius: 8px; }
 
.questions .btn-primary {
    color: #ffffff;
    background: #313131; 
    font-size: .9rem;
    padding: 10px 13px;
    border: none;
}
 
.questions .btn-primary:hover { background: #dc424c; }
 
.questions .contact-input:focus {
    background: #1a1a1a;
    outline: 1px solid #EF5962;
}

.all-questions .title {
    max-width: none;
}
 
.all-questions .title h3 {
    font-size: 1.4rem;
    margin-top: 23px;
    margin-bottom: 14px;
}

.all-questions .title ul { margin: 0; }

.all-questions .title ul li {
    float: right;
    margin-top: 30px;
}

.all-questions .title ul li::before { content: ""; }

.all-questions .title ul li a {
    color: #fff;
    padding: 20px;
    border: 1px solid #dc424c;
    border-radius: 8px;
}

.all-questions .title ul li a:hover {
    background: #dc424c;
    transition: all .3s;
}

.one-questions h3 {
    margin: 0 0 7px 0;
    font-size: 1.1rem;
}

.all-questions .one-questions{
    color: #fff;
    padding: 1rem;
    border: 1px solid #EF5962;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.all-questions .one-questions h3 a:hover{
    text-decoration: underline;
    color: #EF5962;
    transition: all .2s;
}
 
.all-questions .one-questions i{
    margin: .1rem .6rem 0 0;
    font-weight: 600;
}
 
.all-questions .one-questions span{
    color: #bebdbd;
    display: inline-flex;
    font-size: .7rem;
    margin: .5rem 0 .5rem 0;   
}
 
.all-questions .one-questions P {
    font-size: .7rem;
    margin-bottom: 0;
}

/* --------------------------------
            QUESTIONS STARt
-------------------------------- */


/* --------------------------------
            QUESTIONS_POST STARt
-------------------------------- */
.single_questions h2 { margin-bottom: 0; }

.single_questions_content { margin-bottom: 30px; }

.single_questions_content .atribut{ margin: 20px 0; }

.single_questions_content .atribut i {
    color: #EF5962;
    font-size: .8rem;
    margin-right: 6px;
    margin-bottom: 0;
}

.single_questions_content .atribut span{
    color: #EF5962;
    display: inline-flex;
    font-size: .7rem;
    margin: .5rem 0 .5rem 0;   
}

.single_questions_content a{ text-decoration: underline; }

/* --------------------------------
            QUESTIONS_POST STARt
-------------------------------- */


/* --------------------------------
            QUESTIONS STARt
-------------------------------- */
.questions h2 { font-size: 1.1rem; }

.questions .form-label {
    color: #fff;
    font-size: .8rem;
}

.questions .contact-input {
    font-size: .8rem;
    background: #303030;
    color: #ffffff;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.questions input, .questions textarea { border-radius: 8px; }

.questions .btn-primary {
    color: #ffffff;
    background: #313131; 
    font-size: .9rem;
    padding: 10px 13px;
    border: none;
}

.questions .btn-primary:hover {
    background: #dc424c;
    transition: all .3s;
}

.questions .contact-input:focus {
    background: #1a1a1a;
    outline: 1px solid #EF5962;
}
/* --------------------------------
            QUESTIONS END
-------------------------------- */