/* --------------------------------
            ALL_STYLE STARt
 -------------------------------- */
* { font-family: 'Press Start 2P'; }

html, h1, h2, h3, h4, h5, h6 { color: white; }

body{
    margin: 0;
    padding: 0;
    background: #161B1D;
}

a{
    text-decoration: none;
    color: inherit;
}

input{
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;
    font-size: 1rem;
}
/* --------------------------------
            ALL_STYLE STARt
 -------------------------------- */



/* --------------------------------
            HEADER STARt
 -------------------------------- */
header{
    background: #161B1D;
    height: 63px;
}

header *{ color: #ffffff; }

header h1 {
    font-size: 1.2rem;
    margin-top: 20px;
}

header h1 a{ color: #ffffff; }

header h1 a:hover{ color: #ffffff; }

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    font-size: .8rem;
    text-decoration: none;
    color: #fff;
    padding: 22px;
}

header ul li a i {
    font-size: 19px;
    position: relative;
    bottom: 2px;
}

header ul li a:hover i, header ul li a:hover {
    color: #EF5962;
    transition: 0.5s;
}

header ul li ul {
    position: absolute;
    top: 55px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul{ display: block; }

header ul li ul li { width: 100%; }

header ul li ul li a {
    font-size: .9rem;
    padding: 13px;
    background: #313131;
    color: #fff;
}
/* --------------------------------
            HEADER END 
 -------------------------------- */


 /* --------------------------------
            SLIDER STARt
 -------------------------------- */
.container_slider{ 
    background: #242525;
    padding: 0 20px 20px 20px;
}

.slider-title{
    color: #ffff;
    text-align: center;
    padding: 20px 0;
}

.carousel{ height: 400px; }

.carousel-inner, .carousel-item{
    height: 400px;
    border-radius: 8px;
}

.carousel-caption h5{
    font-size: 1.5rem;
    font-weight: 500;
    background: #000000;
    max-width: 100%;
    padding: 0.3em;
    opacity: 0.5;
}

.carousel-caption-hack {
    position: absolute;
    right: 0%;
    bottom: 0.05rem;
    left: 0%;
    padding-top: 1.25rem;
    padding-bottom: 0rem;
    color: #fff;
    text-align: center;
    width: 100%;
}

.carousel-caption-hack h5 a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.carousel-caption h5 a:hover{ text-decoration: underline; }
/* --------------------------------
            SLIDER END
 -------------------------------- */


/* --------------------------------
            MAIN STARt
 -------------------------------- */
.main-content { 
    padding: 0 20px 0 20px;
    background: #242525; 
}

.main-content h2{
    font-size: 1.4rem;
    margin: 20px 0 25px 0;
}

.main-content .all-post { padding-right: 10px; }

.main-content .post{ margin-bottom: 30px; }

.main-content .post_text{
    outline: 1px solid #ffffff;
    padding: 8px;
    border-radius: 8px;
}

.main-content .post_text h3{ margin: 14px 0; }

.main-content .post_text h3 a:hover{
    text-decoration: underline;
    color: #EF5962;
    transition: all .2s;
}

.main-content .post_text h3, i, p {
    color: #fff;
}

.main-content .post_text .atribut { margin-bottom: 6px; }

.main-content .post_text span i {
    font-size: .7rem;
    margin-right: 6px;
    margin-bottom: 0;
}

.main-content .post_text .atribut span{
    color: #bebdbd;
    display: inline-flex;
    font-size: .5rem;
    margin: .5rem 0 .5rem 0;   
}

.main-content .post_text h3, p { font-size: 1rem; }

.main-content .post_text .preview-text {
    font-size: .8rem;
    margin-bottom: 6px;
}
/* --------------------------------
            MAIN  STARt
 -------------------------------- */


/* --------------------------------
            SIDEBAR STARt
 -------------------------------- */
.sidebar_hack { padding-right: 0;  }

.sidebar .sidebar_back { background: #242525; }

.sidebar .section{
    padding: 20px 20px 0 20px;
    border-radius: 8px;
}

.sidebar .search h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.sidebar .search input {
    border: none;
    background: #303030;
    color: #ffff;
}
.sidebar .search input:focus {
    border: none;
    background: #1a1a1a;
    outline: 1px solid #EF5962;
}

.sidebar .topics { padding-bottom: 20px; }

.sidebar .topics h3 {
    font-size: 1.2rem;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.sidebar .topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.sidebar .topics ul li a{
    font-size: 1rem;
    display: block;
    padding: 15px 0px 15px 0px;
    transition: all .3s;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.sidebar .topics ul li p {
    margin: 0;
    padding: 0;
    display: block;
    transition: all .3s;
    width: 0;
    border-top: 1px solid #EF5962;
}

.sidebar .topics ul li a:hover{
    color: #EF5962;
    padding-left: 10px;
    transition: all .3s;
}

.sidebar .topics ul li:hover p {
    width: 100%;
    border-top: 1px solid #EF5962;
    transition: all .3s;
}


/* -- HELP START -- */
.sidebar h3 {
    font-size: 1.4rem;
    padding: 20px 20px 0 20px;
}
.sidebar .topics { padding-top: 0; }

.sidebar .topics .active a {
    color: #EF5962;
    padding-left: 10px;
}
.sidebar .topics .active p {
    width: 100%;
    border-top: 1px solid #EF5962;
}
/* -- HELP END -- */
/* --------------------------------
            SIDEBAR STARt
 -------------------------------- */


/* --------------------------------
            FOOTER STARt
 -------------------------------- */
.footer {
    background: #161B1D;
    color: #d3d3d3;
}

.footer .footer-section{ padding: 22px; }

.footer h4, .footer h3 { color: white; }

.footer h3 { font-size: 1.1rem;}

.footer p { font-size: .8rem;}

.footer .about .contact span{
    display: block;
    font-size: .9em;
    margin-bottom: 8px;
}

.footer .about .socials a{
    border: 1px solid gray;
    width: 50px;
    height: 50px;
    padding-top: 6px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 8px;
    transition: all .3s;
    color: #ffffff;
}

.footer .about .socials a:hover {
    border: 1px solid #EF5962;
    color: #EF5962;
    transition: all .3s;
}
.footer .about .socials a:hover i {
    color: #EF5962;
    transition: all .3s;
}

.footer .links ul { list-style-type: none; padding: 0;}

.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: .9em;
    transition: all .3s;
    color: #bebdbd;
    text-decoration: none;
}

.footer .links ul li p {
    padding: 0;
    display: block;
    transition: all .3s;
    width: 0;
    border-top: 1px solid #EF5962;
}

.footer .links ul a:hover {
    color: #EF5962;
    margin-left: 15px;
    transition: all .3s;
}

.footer .links ul li:hover p {
    width: 100%;
    border-top: 1px solid #EF5962;
    transition: all .3s;
}

.footer .contact-form .contact-btn {
    color: #ffffff;
    float: right;
    font-size: 1.1em;
}

.footer .footer-bottom {
    background: #313131;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
}
/* --------------------------------
            FOOTER STARt
 -------------------------------- */

  /* --------------------------------
            CONTACT_FORM STARt
 -------------------------------- */
.contact-form .contact-input {
    font-size: .8rem;
    background: #303030;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.contact-form .contact-btn {
    color: #ffffff;
    font-size: .8rem;
}

.contact-form .contact-input:focus {
    background: #1a1a1a;
    outline: 1px solid #EF5962;
}

.contact-form .contact-btn:hover, .contact-form .contact-btn:hover i {
    color: #EF5962;
    transition: all .3s;
}

.contact-form .btn i { 
    font-size: 20px; 
    position: relative; 
    bottom: 2.2px; 
}
 /* --------------------------------
            CONTACT_FORM STARt
 -------------------------------- */


/* --------------------------------
            SINGLE_POST STARt
 -------------------------------- */
.single_post{ margin-bottom: 30px; }

.single_post .atribut{ margin: 20px 0; }

.single_post i {
    color: #bebdbd;
    float: left;
    font-size: .7rem;
    margin-right: 6px;
    margin-bottom: 0;
}

.single_post .atribut p {
    color: #bebdbd;
    float: left;
    font-size: .5rem;
    margin-right: 10px;
    margin-bottom: 0;
}

.single_post a{ text-decoration: underline; }

/* --------------------------------
            SINGLE_POST STARt
 -------------------------------- */


/* --------------------------------
            FORMS STARt
 -------------------------------- */

.reg_form form {
    color: #fff;
    background: #242525;
    padding: 0 8px;
}

.reg_form h2{
    text-align: center;
    margin: 20px 0;
    font-size: 1.7rem;
}

.reg_form label { font-size: .8rem; }

.reg_form input{
    height: 2.5rem;
    font-size: .8rem;
}

.reg_form a {
    text-align: center;
    font-size: 1.3em;
    transition: all .3s;
    color: #ababab;
}

.reg_form input {
    font-size: .8rem;
    background: #303030;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.reg_form .contact-input:focus {
    background: #1a1a1a;
    outline: 1px solid #EF5962;
}

.reg_form a:hover {
    color: #dc424c;
    text-decoration: underline #dc424c;
    transition: all .3s;
}

.reg_form button { background: #313131; }

.reg_form button:hover {
    background: #dc424c;
    transition: all .3s;
}
/*
FORMS
 */
form div.err p{
    color: red;
    font-style: italic;
    font-size: 0.8rem;
}
/* --------------------------------
            FORMS STARt
 -------------------------------- */


/* --------------------------------
            COMMENTS STARt
 -------------------------------- */
.comments h2 { font-size: 1.1rem; }

.comments .form-label {
    color: #fff;
    font-size: .8rem;
}

.comments .contact-input {
    font-size: .8rem;
    background: #303030;
    color: #ffffff;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.comments input, .comments textarea { border-radius: 8px; }

.comments .btn-primary {
    color: #ffffff;
    background: #313131; 
    font-size: .9rem;
    padding: 10px 13px;
    border: none;
}

.comments .btn-primary:hover {
    background: #dc424c;
    transition: all .3s;
}

.comments .contact-input:focus {
    background: #1a1a1a;
    outline: 1px solid #EF5962;
}

.all-comments .one-comment{
    color: #fff;
    padding: 1rem;
    border: 1px solid #EF5962;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.all-comments .one-comment i{
    margin: .1rem .6rem 0 0;
    font-weight: 600;
}

.all-comments .one-comment span{
    color: #bebdbd;
    display: inline-flex;
    font-size: .7rem;
    margin: .5rem 0 .5rem 0;   
}

.all-comments .one-comment P {
    font-size: .7rem;
    margin-bottom: 0;
}
/* --------------------------------
            COMMENTS STARt
 -------------------------------- */


/* --------------------------------
            ABOUT STARt
 -------------------------------- */
.main-content p { font-size: .8rem; }

.main-content ul {
    list-style: none;
    margin-bottom: 1.5rem;
}

.main-content ul li { color: #fff; font-size: .8rem;}

.main-content ul li::before {
    color: #ed1c24;
    content: "\2022";
    flex: 0 0 15px;
    font-weight: 700;
    margin-left: -25px;
    position: absolute;
    width: 15px;
}

.main-content ul li p { margin: 0; }
/* --------------------------------
            ABOUT STARt
 -------------------------------- */

/* --------------------------------
            CONTACT STARt
 -------------------------------- */
.main-content .contact-form textarea { height: 250px; }

.main-content .contact-form .form-control {
    background: #303030;
    color: #ffffff;
    font-size: .8rem;
    margin-bottom: 8px;
    border: none;
}

.main-content .contact-form h2 {
    color: #dc424c;
    margin: 0;
    font-size: .5rem;
    margin-bottom: 15px;
}
/* --------------------------------
            CONTACT STARt
 -------------------------------- */